$primario:#fff;
$navegador:rgb(10, 9, 9);
$fondo:#D3D1D1;
$texto: #6b717f;
$texto-banner: #30f167;
$texto-footer:black;
$texto-modal:black;


$font:'Open Sans', sans-serif;
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-extra-bold:800;

$fondo-Header:#49945E;
$fondo-Header-nav:#16e04c;
$fondo-Header-nav_back:#D3D1D1;

$color-toggle:black;

$fondo-Footer:white;
$fondo-Modal:#323533;
$fondo-sugerido:white;

$boton-modal-ingresar:#18943b;
$boton-modal-cuenta:#30f167;
$boton-modal-background:#0d5220;

$boton-agregar-carrito:#30f167;
$boton-comprar:#49945E;

